@using EntityLayer.Concrete;
@model List<RecycableMaterial>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/MainLayout/Index.cshtml";
    List<string> cities = new List<string>();
    cities.Add("Ankara");
    cities.Add("İzmir");
    cities.Add("İstanbul");
    cities.Add("Adana");
    cities.Add("Konya");
}

  
    <div class="container">
        <div class="row">
            @* <div class="btn btn-group">
                @foreach (var item in cities)
                {
                <a href="/RecycAbleMaterial/GetMaterialWithCityName/@item.ToString()" class="btn btn-sm btn-outline-warning">@item.ToString()</a>
                }
            </div> *@
        <div class="btn btn-group">
            <a href="/RecycAbleMaterial/GetMaterialWithCityName/@cities[0]" class="btn btn-sm btn-outline-warning">@cities[0].ToString()</a>
            <a href="/RecycAbleMaterial/GetMaterialWithCityName/@cities[1]" class="btn btn-sm btn-outline-warning">@cities[1].ToString()</a>
            <a href="/RecycAbleMaterial/GetMaterialWithCityName/@cities[2]" class="btn btn-sm btn-outline-warning">@cities[2].ToString()</a>
            <a href="/RecycAbleMaterial/GetMaterialWithCityName/@cities[3]" class="btn btn-sm btn-outline-warning">@cities[3].ToString()</a>
            <a href="/RecycAbleMaterial/GetMaterialWithCityName/@cities[4]" class="btn btn-sm btn-outline-warning">@cities[4].ToString()</a>

           @*  <a href="/RecycAbleMaterial/GetMaterialWithCityName/@cities[0]" class="btn btn-sm btn-outline-warning">@cities[0].ToString()</a>
            <a href="/RecycAbleMaterial/GetMaterialWithCityName/@cities[1]" class="btn btn-sm btn-outline-warning">@cities[1].ToString()</a>
            <a href="/RecycAbleMaterial/GetMaterialWithCityName/@cities[2].ToString()" class="btn btn-sm btn-outline-warning">@cities[1].ToString()</a>
            <a href="/RecycAbleMaterial/GetMaterialWithCityName/@cities[3].ToString()" class="btn btn-sm btn-outline-warning">@cities[3].ToString()</a>
 *@
        </div>
        </div>
    </div> 


    <div class="container p-3 bg-light">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card">
                        <img src="~/@item.imageUrl" class="card-img-top" width="200px" height="400px" />
                        <div class="card-body">
                            <h5 class="card-title">
                                @item.RecycableMaterialType
                            </h5>
                            <p class="card-text"><strong> @item.LocationCity</strong> </p>
                            <p class="card-text ">@item.ProcessDate</p>
                            <p class="card-text">@item.LocationFullAdress</p>
                            <p class="card-text">@item.AppUser</p>
                            <p class="card-text">@item.LocationDistrict</p>
                            <p class="card-text">@item.RecycableMaterialType</p>
                            <p class="card-text">@item.isStatus</p>
                            <p class="card-text">@item.materialAmount</p>
                        <div class="btn btn-outline-success text-end">
                            <a href="/RecycAbleMaterial/MaterialDetail/@item.RecycableMaterialID">İncele</a>
                        </div>
                        <div class="btn btn-outline-success text-end">
                            <a href="/OfferProccess/Index/@item.RecycableMaterialID">Teklif ver</a>
                        </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>



