@using EntityLayer.Concrete;
@model List<Offer>
@{
    ViewData["Title"] = "GetİncomingOffers";
    Layout = "~/Views/MainLayout/Index.cshtml";

}

<h1 class="text-center">Gelen Teklifler</h1>


<div class="row row-cols-1 row-cols-md-1 g-4 m-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="opacity-0">@item.offerId</p>
                    <span>Materyal Id: </span>
                    <h5 class="card-title">
                        @item.RecyableMaterialId
                    </h5>
                    <span>Teklifi Gönderen: </span><p class="card-text"><strong>  @item.SenderUser</strong> </p>
                    <span>Tarih</span><p class="card-text ">@item.ProcessDate</p>
                      <span>Teklif</span> <p class="card-text">@item.offersPrice</p>
                <p class="card-text ">@item.isAccepted</p>
                    <p class="card-text opacity-0">@item.ReceiverUser</p>
                
                    @* <p class="card-text">@item.RecycableMaterialType</p>
                <p class="card-text">@item.isStatus</p>
                <p class="card-text">@item.materialAmount</p> *@
                    
                    <div class="btn btn-outline-success text-end">
                        <a style="text-decoration:none;" href="/OfferProccess/AcceptTheOffer/@item.offerId">Kabul Et</a>
                    </div>
                    <div class="btn btn-outline-success text-end">
                        <a style="text-decoration:none;" href="/OfferProccess/DontAcceptTheOffer/@item.offerId">Reddet</a>
                    </div>

                </div>
            </div>
        </div>
    }
</div>
