@using EntityLayer.Concrete;
@model List<Offer>
@{
    ViewData["Title"] = "GetSendedOffer";
    Layout = "~/Views/MainLayout/Index.cshtml";
}

<style>
    .card:hover {
        transform: scale(1.1);
        
        /* Kartın boyutunu %20 büyütür */
    
    }

    
</style>

<h1 class="text-center">Giden Teklifler</h1>

<div class="row row-cols-1 row-cols-md-1 g-4 m-4 ">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="opacity-0">@item.offerId</p>
                    <h5 class="card-title">
                        @item.RecyableMaterialId
                    </h5>
                    <span>Teklifi Alan: </span><p class="card-text"><strong>  @item.ReceiverUser</strong> </p>
                    <span>Tarih</span><p class="card-text ">@item.ProcessDate</p>
                    <div>
                       <p class="card-text"> Teklif: @item.offersPrice</p>

                    </div>
                    
                    <p class="card-text opacity-0">@item.ReceiverUser</p>
                    <p class="card-text ">@item.isAccepted</p>
                    @if (item.isAccepted == "KabulEdildi")
                    {
                        <div class="btn btn-outline-danger text-end">
                            <a style="text-decoration:none;" href="/OfferProccess/ReceiveSuccess/@item.offerId">Teslim aldım</a>
                        </div>
                    }

                    @* <p class="card-text">@item.RecycableMaterialType</p>
                <p class="card-text">@item.isStatus</p>
                <p class="card-text">@item.materialAmount</p> *@

                    <div class="btn btn-outline-danger text-end">
                        <a style="text-decoration:none;" href="/OfferProccess/DeleteOffer2/@item.offerId">Teklifi Sil</a>
                    </div>
                    

                </div>
            </div>
        </div>
    }
</div>